# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv')

In [6]:
df

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

Sacamos el año

In [16]:
import numpy
numpy.datetime64

numpy.datetime64

In [23]:
pd.DatetimeIndex(data=df.Date,dtype='datetime64[ns]')

DatetimeIndex(['2014-07-08', '2014-07-07', '2014-07-03', '2014-07-02',
               '2014-07-01', '2014-06-30', '2014-06-27', '2014-06-26',
               '2014-06-25', '2014-06-24',
               ...
               '1980-12-26', '1980-12-24', '1980-12-23', '1980-12-22',
               '1980-12-19', '1980-12-18', '1980-12-17', '1980-12-16',
               '1980-12-15', '1980-12-12'],
              dtype='datetime64[ns]', name='Date', length=8465, freq=None)

In [20]:
import numpy
df.Date=df.Date.astype(dtype=numpy.datetime64)

In [10]:
df.Date.dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [24]:
df.Date.dt.month_name()

0           July
1           July
2           July
3           July
4           July
          ...
8460    December
8461    December
8462    December
8463    December
8464    December
Name: Date, Length: 8465, dtype: object

In [25]:
df['Mes']=df.Date.dt.month_name()

In [26]:
df

           Date   Open   High    Low  Close     Volume  Adj Close       Mes
0    2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35      July
1    2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97      July
2    2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03      July
3    2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48      July
4    2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52      July
...         ...    ...    ...    ...    ...        ...        ...       ...
8460 1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41  December
8461 1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40  December
8462 1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39  December
8463 1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42  December
8464 1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45  December

[8465 rows x 8 columns]

Agrupamos por año

In [28]:
df.groupby(by='Mes').std()

,Open,High,Low,Close,Volume,Adj Close
Mes,,,,,,
April,148.655948,150.008568,146.847937,148.380320,8.974955e+07,21.736270
August,143.506873,144.771135,142.317809,143.651341,8.464404e+07,20.844121
December,139.852936,140.922500,138.504133,139.608770,7.090524e+07,20.473905
February,138.324449,139.697850,137.224993,138.572360,8.203619e+07,20.405334
January,137.478072,138.469360,136.047069,137.155410,1.205326e+08,20.186313
July,131.871546,133.132108,130.778264,132.201635,8.440246e+07,20.457059
June,131.811808,132.779305,130.449114,131.597481,7.079246e+07,22.717896
March,144.447049,145.532116,143.133881,144.476170,7.731104e+07,21.139576
May,152.665514,154.122374,151.236113,152.723116,6.974225e+07,22.523713
November,141.159661,142.294926,139.526124,140.920157,8.558826e+07,20.613357
October,145.950795,147.149877,144.127095,145.623676,1.069829e+08,21.103488
September,146.242598,147.351321,144.824860,146.021701,1.111354e+08,21.177422

In [39]:
anyo=df.Date.dt.year
anyo

0       2014
1       2014
2       2014
3       2014
4       2014
        ...
8460    1980
8461    1980
8462    1980
8463    1980
8464    1980
Name: Date, Length: 8465, dtype: int64

In [38]:
df.groupby(by=[df.Date.dt.year,'Mes']).std()

                     Open        High         Low       Close        Volume  \
Date Mes
1980 December    3.844498    3.844273    3.843764    3.843764  2.903914e+07
1981 April       1.351981    1.370196    1.359052    1.359052  3.061672e+06
     August      2.417352    2.413328    2.407716    2.407716  3.619826e+06
     December    1.589435    1.595780    1.606705    1.606705  6.484936e+06
     February    1.402541    1.444448    1.440974    1.440974  1.290692e+06
...                   ...         ...         ...         ...           ...
2014 January    19.044377   18.418552   18.689897   18.902535  4.583371e+07
     July        1.128774    1.301780    0.482359    1.129225  1.805308e+07
     June      238.805672  240.800419  237.217136  239.540240  2.211273e+07
     March       5.719830    5.132560    4.883487    4.915319  1.369242e+07
     May        14.672119   15.609068   14.566504   15.043816  2.297492e+07

               Adj Close
Date Mes
1980 December   0.061153
1981 April      0.020817
     August     0.037346
     December   0.025736
     February   0.023069
...                  ...
2014 January    2.668667
     July       1.129225
     June       1.184371
     March      0.697230
     May        2.226942

[404 rows x 6 columns]

In [40]:
df.groupby(by=[anyo,'Mes']).std()

                     Open        High         Low       Close        Volume  \
Date Mes
1980 December    3.844498    3.844273    3.843764    3.843764  2.903914e+07
1981 April       1.351981    1.370196    1.359052    1.359052  3.061672e+06
     August      2.417352    2.413328    2.407716    2.407716  3.619826e+06
     December    1.589435    1.595780    1.606705    1.606705  6.484936e+06
     February    1.402541    1.444448    1.440974    1.440974  1.290692e+06
...                   ...         ...         ...         ...           ...
2014 January    19.044377   18.418552   18.689897   18.902535  4.583371e+07
     July        1.128774    1.301780    0.482359    1.129225  1.805308e+07
     June      238.805672  240.800419  237.217136  239.540240  2.211273e+07
     March       5.719830    5.132560    4.883487    4.915319  1.369242e+07
     May        14.672119   15.609068   14.566504   15.043816  2.297492e+07

               Adj Close
Date Mes
1980 December   0.061153
1981 April      0.020817
     August     0.037346
     December   0.025736
     February   0.023069
...                  ...
2014 January    2.668667
     July       1.129225
     June       1.184371
     March      0.697230
     May        2.226942

[404 rows x 6 columns]

### Step 3. Assign it to a variable apple

### Step 4.  Check out the type of the columns

### Step 5. Transform the Date column as a datetime type

### Step 6.  Set the date as the index

### Step 7.  Is there any duplicate dates?

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

### Step 9. Get the last business day of each month

### Step 10.  What is the difference in days between the first day and the oldest

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.